@import "https://fonts.googleapis.com/css?family=Open+Sans:300i,400,800";
@import "reset";
@import "variables";



// html {
//   height: 100%;
// }
body {
  height: 100%; // this is to make sure the height set to div height of Main set in App doesnt conflict
  font-family: 'Open Sans', sans-serif;
  background: $primary-color;
  color: $body-text-color;
  font-size: 13px;

//  @media(max-width: $screen-sm)  { WORKS
//   background:rgb(236, 239, 245)
// }
 

  // margin: 0;
  // padding: 0;
 
}
// a{
//   color: white;
//   text-decoration: none;
// }
* {
  box-sizing: border-box;
}

.app-layout {
  max-width: 1000px;
  // width: 100%;
  margin: 0 auto;
 ;

 @media(max-width: $screen-sm)  {
  background:rgb(236, 239, 245)
}
  @media(min-width: $screen-md) {
    padding: 100px 50px 50px 50px;
  }
}

.app-container {
  position: relative;//  CHECK THIS 
  overflow: hidden;
  // padding: 20px 0 0 0;

  .app-header {
    padding-bottom: 30px;
    text-align: center;
    float: left;
    .app-site-info {
     
      color: #FFFFFF;
      h1 {
        margin: 0;
        padding: 0;
        font-size: 60px;
        font-weight: 800;

      }
      .site-title {
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 50px;
        font-weight: 300;
        color: rgba(255, 255, 255, .9);
        @media (max-width: $screen-sm) {
          display: none;
        }
      }
      .site-slogan {
        @media (max-width: $screen-sm) {
          display: none;
        }
        margin-top: 5px;
        padding: 0;
        font-size: 30px;
        font-weight: 300;
        color: rgba(255, 255, 255, .6);
      }
    }

  }
  .app-content {
    margin-top:'20px';
    float: right;

  }

  @media (min-width: $screen-md) {
    .app-header {
      padding-top: 100px;
      text-align: left;
    }
    .app-content {
      float: right;
      
    }
  }
}

.app-card {
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  @media (min-width: $screen-sm) {
    width: 350px;
  }
  .app-card-header {
    padding:  20px;
    background: rgba(243, 247, 255, 1);
    .app-card-header-inner {
      padding: 10px 20px;
    }
  }
  .app-card-content {
    .app-card-content-inner {
      padding: 20px;
    }
  }
  // &.app-card-uploading, &.app-card-upload-sent {
    .app-card-content {
      .app-card-content-inner {
        padding: 30px;
      }
    }
  }
// }

.upload-profile-photo-main {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0 0 0;
  label {
    display: block;
    width: 100%;
    input {
      position: fixed;
      top: -9999px;
    }
  }
  .upload-photo-description {
    font-size: 12px;
    display: block;
  }
  .upload-photo-icon {
    display: inline-block;
    margin-bottom: 10px;
    width: 60px;
    height: 30px;
    border: 1px dashed $body-text-color;
    position: relative;
    i {
      position: absolute;
      left: 10px;
      top: -10px;
      background: #f3f7ff;
      font-size: 28px;
    }
  }
  &.error {
    .app-upload-icon {
      border-color: $danger-color;
    }
  }
}
.first-and-lastname{
 display: flex;
 margin: 0; //T(0)R(15)B(15)L(15)
   input {
    // width: 172px;
    font-size: 18px;
    padding: 8px 10px;
    // margin: 15px 5px 0 0px;
    border: 1px solid rgb(189, 199, 215);
    // color: rgb(140, 140, 140);
  //   display: block; /* 1. oh noes, my inputs are styled as block... */
   }

}
.app-form-item {
  margin: 15px 23px 0 23px;
  // margin: 13px 15px 0 15px; //T(0)R(15)B(15)L(15)
  label {
    text-transform: uppercase;
    display: block;
    // font-weight: 500;
    font-size: 14px;
    margin: 0 0 8px 0;
    // color: rgb(140, 140, 140);
  }
  input[type='text'], input[type='email'],input[type='password'],textarea {
    color:rgb(0,0,0);
    width: 100%;
    height: 40px;
    border: 1px solid rgb(189, 199, 215);//F
    
    font-size: 18px;
    outline: 0 none;
    // padding: 8px;
    margin: 0;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:focus, :active {
      outline: 0 none;
      border: 1px solid rgba(70, 170, 240,1);
    }
  }
  textarea {
    min-height: 50px;
  }
  &.error {
    input {
      // color: $danger-color;
    }
  }
}
.app-form-actions {
  margin: 15px 23px 0 23px; //T(0)R(15)B(15)L(15)
  .app-button {
    width: 100%;
    height: 45px;
    text-align: center;
    display: block;
    font-weight: 800;
    // font-size: 18px;
    background-color: red;
    border: 1px solid $primary-color;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    // border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 20px 0 0 0; //T(0)R(15)B(15)L(15)
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    border: 1px solid;
    border-radius: 2px;
    // box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    // text-shadow: none;
    // vertical-align: middle;



    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    
    &.primary {
      background: rgb(19, 99, 206);
      border-radius: 2px;
      line-height: 42px;
      padding: 0 24px;
      transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
      // rgba(113, 179, 96,1);
      //orange;
      color: rgb(255, 255, 255);
      text-transform: capitalize;
      @media (max-width: $screen-sm) {
        // border-radius: 40px;
      }
    }
    &.login-prime {
      background: rgb(19, 99, 206);
      // display: block;
      // margin: auto;
      width: 302px;
      border-radius: 2px;
      line-height: 42px;
      // padding: 0 24px;
      transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
      // rgba(113, 179, 96,1);
      //orange;
      color: rgb(255, 255, 255);
      text-transform: capitalize;
      @media (max-width: $screen-sm) {
        // border-radius: 40px;
      } 
    }
    &.create-account {
      text-transform: capitalize;
      width: " 100px";
      width: 302px;
      height: 45px;
      text-align: center;
      display: block;
      font-weight: 800;
      border-radius: 1px;
      font-size: 14px;
      line-height: 42px;
      padding: 0 24px;
      border: 1px solid $primary-color;
      background: #FFFFFF;
      color: #FFFFFF;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 1px;
      // padding: 10px 15px;
      text-transform: capitalize;
      margin: 0px 60px 60px 60px; //T(0)R(15)B(15)L(15
        // color: rgb(255, 255, 255);
        background:rgb(71,181,53);
        -webkit-tap-highlight-color: rgba(0,0,0,0);
          line-height: 42px;
          padding: 0 24px;     
          width: 50%;
          
          @media (max-width: $screen-sm) {
            display: flex; //cenetered text
            background: #00a400;
            color: #fff;
            line-height: 27px;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);
            text-align: center;
            border-radius: 40px;
          
          }
          
        
    }
    &.app-button-link{
      background: none;
      border: 0 none;
      color: $primary-color;
    }
  }
}


.app-top-header{ //Not defined 
  h1{
    cursor: pointer;
  }
}

.app-top-bar {

}
//LOGIN CONTAINER 
  .login {
    margin: 0 auto;
    width:600px;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 1px;
    margin-bottom:  400px; //f
    padding-left: 10% ; //T(0)R(15)B(15)L(15
    padding-right: 10% ; 
    @media (max-width: $screen-md) {
      padding-left: 0; //T(0)R(15)B(15)L(15
      padding-right: 0;
      display: block;
      width:360px;
      padding-top: 5px;
      padding-bottom: 45px;
      // border-radius: 20px;
     
      // border-radius: 20px;
      // margin: 60px, 10px, 10px, 220px; //T(0)R(15)B(15)L(15)
      //f margin: 0;
      // border: 0;
    
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      font-family: Helvetica, Arial, sans-serif;
      body {    
        // text-align: left;
        // direction: ltr;
        // background: gray;
      }
    
    // background-color: #eceff5
    }
    
  }

/////////////////////////////////////////////



