@import "https://fonts.googleapis.com/css?family=Open+Sans:300i,400,800";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #2b98e7;
  color: #b0b3ce;
  font-size: 13px; }

a {
  color: #2b98e7;
  text-decoration: none; }

* {
  box-sizing: border-box; }

.app-layout {
  max-width: 1000px;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .app-layout {
      padding: 100px 50px 50px 50px; } }

.app-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0; }
  .app-container .app-header {
    padding-bottom: 30px;
    text-align: center; }
    .app-container .app-header .app-site-info {
      color: #FFFFFF; }
      .app-container .app-header .app-site-info h1 {
        margin: 0;
        padding: 0;
        font-size: 60px;
        font-weight: 800; }
      .app-container .app-header .app-site-info .site-title {
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 50px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.9); }
        @media (max-width: 768px) {
          .app-container .app-header .app-site-info .site-title {
            display: none; } }
      .app-container .app-header .app-site-info .site-slogan {
        margin-top: 5px;
        padding: 0;
        font-size: 30px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.6); }
        @media (max-width: 768px) {
          .app-container .app-header .app-site-info .site-slogan {
            display: none; } }
  @media (min-width: 992px) {
    .app-container .app-header {
      float: left;
      padding-top: 100px;
      text-align: left; }
    .app-container .app-content {
      float: right; } }

.app-card {
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  @media (min-width: 768px) {
    .app-card {
      width: 350px; } }
  .app-card .app-card-header {
    padding: 20px;
    background: #f3f7ff; }
    .app-card .app-card-header .app-card-header-inner {
      padding: 10px 20px; }
  .app-card .app-card-content .app-card-content-inner {
    padding: 20px; }
  .app-card .app-card-content .app-card-content-inner {
    padding: 30px; }

.upload-profile-photo-main {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0 0 0; }
  .upload-profile-photo-main label {
    display: block;
    width: 100%; }
    .upload-profile-photo-main label input {
      position: fixed;
      top: -9999px; }
  .upload-profile-photo-main .upload-photo-description {
    font-size: 12px;
    display: block; }
  .upload-profile-photo-main .upload-photo-icon {
    display: inline-block;
    margin-bottom: 10px;
    width: 60px;
    height: 30px;
    border: 1px dashed #b0b3ce;
    position: relative; }
    .upload-profile-photo-main .upload-photo-icon i {
      position: absolute;
      left: 10px;
      top: -10px;
      background: #f3f7ff;
      font-size: 28px; }
  .upload-profile-photo-main.error .app-upload-icon {
    border-color: red; }

.first-and-lastname {
  display: flex;
  margin: 0; }
  .first-and-lastname input {
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #bdc7d7; }

.app-form-item {
  margin: 15px 23px 0 23px; }
  .app-form-item label {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    margin: 0 0 8px 0; }
  .app-form-item input[type='text'], .app-form-item input[type='email'], .app-form-item input[type='password'], .app-form-item textarea {
    color: black;
    width: 100%;
    height: 40px;
    border: 1px solid #bdc7d7;
    font-size: 18px;
    outline: 0 none;
    margin: 0;
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .app-form-item input[type='text']:focus, .app-form-item input[type='text'] :active, .app-form-item input[type='email']:focus, .app-form-item input[type='email'] :active, .app-form-item input[type='password']:focus, .app-form-item input[type='password'] :active, .app-form-item textarea:focus, .app-form-item textarea :active {
      outline: 0 none;
      border: 1px solid #46aaf0; }
  .app-form-item textarea {
    min-height: 50px; }

.app-form-actions {
  margin: 15px 23px 0 23px; }
  .app-form-actions .app-button {
    width: 100%;
    height: 45px;
    text-align: center;
    display: block;
    font-weight: 800;
    background-color: red;
    border: 1px solid #2b98e7;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 20px 0 0 0; }
    .app-form-actions .app-button.primary {
      background: #1363ce;
      color: white; }
    .app-form-actions .app-button.app-button-link {
      background: none;
      border: 0 none;
      color: #2b98e7; }

/*# sourceMappingURL=app.css.map */
