
.toolbar {
  background: rgb(19,99,209);
  /* position: fixed; */
  top:0;
  left:0;
  width:100%;
  height: 110px;
  padding-top: 30px;
  padding-bottom: 30px;
  /* background: rgb(20,117,244); */

}
.toolbar_navigation{
  display: flex;
  height: 100%;
  align-items: center;
}
.toolbar_logo a{
  color:white;
  text-decoration: none;
  font-size: 1.5em
}

.toolbar_navigation_item ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* color:red;    --- OVERIDEN by Custom SASS 
  text-decoration: none;
 */
}
.toolbar_navigation_item li{
  padding: 0 0.5rem;
  font-size: 1rem; 
}
.toolbar_navigation_item a:hover,
.toolbar_navigation_item a:active {
  color:#fa923f;
 } 
























  /*
 .Nav_link:link { 
   color: #fff; 
   font-size: 1.6rem; 
   line-height: 1.6rem;  
  text-decoration: none;
}
 
 
 .Nav_link:active {
  color:yellow;
} 

 .Nav_link:visited {
  color:teal;
} 
.Nav_link:hover {
  color: yellow;
}

.activeRoute {
  background-color:red;
  border-bottom: 0.4rem solid teal;
  cursor: not-allowed;
}   */